@import "../colors.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.documentMangement p, .documentManagement button, .documentManagement textarea {
    font-family: 'Inter', sans-serif;
}

.documentManagement {
    padding: 2rem;
    width: 100%;
    color: black;
}

.documentManagement h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: black;
}

.documentManagement .documentsMainWrapper {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 2rem;
}

.documentManagement .addDocumentWidget,
.documentManagement .actualDocumentsWidget {
    display: flex;
    background-color: white;
    border-radius: 30px;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.2);
}

.documentManagement .addTitleAndCategory {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.documentManagement .addTitleAndCategory input {
    width: 80%;
}

.documentManagement .addTitleAndCategory select {
    width: 15%;
    background-color: #f9f9f9;
    color: black;
    border: 1px solid var(--color-text-secondary);
}

.documentManagement .widgetTitle {
    font-size: 1.3rem;
    font-weight: 600;
}

.documentManagement .addDocumentButton {
    width: 140px;
    align-self: center;
    border-radius: 30px;
    background-color: var(--color-primary);
    color: white;
}

.documentManagement .addSourceAndButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.documentManagement .addSourceAndButton input {
    width: 60%;
}

.documentManagement .addContent {
    width: 100%;
    height: 10rem;
    background-color: #f9f9f9;
    padding: 0.8rem;
    font-size: 1rem;
    line-height: 1.4;
    resize: vertical;
    border-radius: 30px;
    border: 1px solid var(--color-text-secondary);
    outline: none;
    overflow-y: auto;
    color: black;
    box-sizing: border-box;
}

.documentManagement .filtersSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.documentManagement .filtersSection input {
    width: 250px;
}

.documentManagement .documentEntity {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    gap: 1rem;
    padding: 1rem;
}
.documentManagement .documentInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0;
}

.documentManagement .editDocumentButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    flex: 1;
}

.documentManagement .editDocumentButtons button {
    background-color: transparent;
}

.documentManagement .documentTitle {
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.documentManagement .documentContent {
    font-family: 'Inter', sans-serif;
    text-align: justify;
}

.documentMetadata {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    color: var(--color-primary);
    padding: 0 0.5rem;
    gap: 1rem;
}

.documentManagement .changeView {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    width: 100%;

}

.documentManagement .changeView button {
    font-size: 0.8rem;
    border-radius: 30px;
    background-color: var(--color-primary);
}