@import "../colors.css";

.operatorDashboard {
    height: 100vh;
    background-color: var(--color-background);
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.operatorDashboard .operatorDashboardContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    margin-left: 350px;
    height: 100vh;
    overflow: hidden;
}

.operatorDashboard .operatorDashboardContent.scrollable {
    overflow-y: scroll;
}

@media screen and (max-width: 1024px) {
    .operatorDashboard {
        flex-direction: column;
        overflow: auto;
    }

    .operatorDashboard .operatorDashboardContent {
        margin-top: 60px;
        margin-left: 0;
    }
}