@import "../colors.css";
.recentQuestions {
    padding: 2rem;
    width: 100%;
    color: black;
}

.recentQuestions h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: black;
}

.recentQuestions .rqMainWrapper {
    width: 100%;
    height: 83vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    gap: 0.8rem;
}

.recentQuestions .rqMainWrapper .filterButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    margin-bottom: 0;
}

.selectNumberOfQuestions {
    width: auto;
    background-color: transparent;
    border: 2px solid var(--color-primary);
    font-size: 0.7rem;
    color: var(--color-primary);
}

.recentQuestions .rqMainWrapper .rqContentWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 30px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.rqContentWrapper .rqQuestionText {
    flex: 1;
    font-size: 0.8rem;
    margin-right: 1rem;
}

.rqContentWrapper .rqQuestionInfo {
    font-size: 0.8rem;
    color: var(--color-primary);
    white-space: nowrap;
    align-self: flex-start;
}

.recentQuestions .rqQuestionsContainer {
    flex: 1;
    overflow-y: auto;
    padding:1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
