@import "../colors.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.userManagement {
    padding: 2rem;
    width: 100%;
    color: black;
}

.userManagement h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: black;
}

.userManagement p, .userManagement a, .userManagement h3, .userManagement button {
    font-family: 'Inter', sans-serif;
}

.userManagement .usersMainWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.userManagement .widgetActionsOnUser, .widgetSuspiciousUsers {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 1.2rem;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.2);
}

.userManagement .widgetTitle {
    font-size: 1.3rem;
    font-weight: 600;
}

.userManagement .buttonsContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    gap: 1rem;
}

.userManagement .buttonsContainer button {
    width: 450px;
    border-radius: 20px;
    color: white;
    background-color: var(--color-primary);
}

.userManagement .widgetSubtitle {
    font-size: 0.9rem;
    font-weight: 350;
    color: var(--color-primary);
}

.userManagement .suspiciousUsersList {
    display: flex;
    flex-direction: column;
}

.userManagement .susUser {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.userManagement .susUserMail {
    width: 70%;
    background-color: rgba(192, 57, 43, 0.6);
    height: 2rem;
    align-content: center;
    padding: 0 0.5rem;
    border-radius: 0 20px 20px 0;
}

.userManagement .seeMoreBtn, .userManagement .banBtn {
    flex: 1;
    height: 2rem;
    align-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: transparent;
    transition: 0.3s all;
    border-radius: 20px;
}

.userManagement .seeMoreBtn {
    border: 2px solid var(--color-primary);
}
.userManagement .seeMoreBtn:hover {
    background-color: var(--color-primary);
}

.userManagement .banBtn {
    border: 2px solid var(--color-error);
}

.userManagement .banBtn:hover {
    background-color: var(--color-error);
}

.userManagement .seeMoreBtn img, .userManagement .banBtn img {
    background-color: white;
    border-radius: 50%;
}

.userManagement .noSusUsers {
    color: var(--color-success);
    font-weight: 600;
    align-self: center;
}

.userManagement .modalScrollableWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    gap: 1rem;
}

.userManagement .userMessageContainer {
    border-bottom: 1px solid var(--color-primary);
}

.timeOfMessage {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 0.8rem;
}
.modalButtonsContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

 .operationConfirmButton {
    color: white;
    background-color: var(--color-error);
    border-radius: 15px;
}

.operationCancelButton {
    color: white;
    background-color: var(--color-primary);
    border-radius: 15px;
}