@import "colors.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.faqsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: 'Inter', sans-serif;
    min-height: 100%;
    align-content: center;
    width: 100%;
    color: black;
}

.mainTitle {
    font-size: 3rem;
    font-weight: 500;
    color: black;
}

.introFaqs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: black;
}

.introFaqs p {
    font-size: 2.3rem;
    font-weight: 300;
    margin: 0;
    color: black;
}

.introFaqs ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.introFaqs li {
    font-size: 1.5rem;
    font-weight: 200;
    cursor: pointer;
    transition: color 0.3s ease;
}

.introFaqs li:hover {
    color: var(--color-text-secondary);
}

.privacyWarning {
    font-size: 0.9rem;
    color: var(--color-text-secondary);
    max-width: 800px;
    line-height: 1.5;
}

@media (max-width: 968px) {
    .mainTitle {
        font-size: 2rem;
    }

    .introFaqs p {
        font-size: 1.7rem;
    }

    .introFaqs li {
        font-size: 1.2rem;
    }

    .privacyWarning {
        font-size: 0.8rem;
    }

}