@import "colors.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inputMessage {
  position: fixed;          
  bottom: 20px;             
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 800px;
  min-height: 90px;
  background: var(--color-primary);
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 15px;
  box-shadow: 1px 4px 16px rgba(0,0,0,0.5);
  color: var(--color-text);
  z-index: 1000;
}

.chatInput {
  flex: 1;
  background-color: transparent;
  border: none;
  color: var(--color-text);
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
  outline: none;
  resize: none;       
  overflow-y: auto;
  padding: 8px 8px;
  box-sizing: border-box;
}

.chatInput::placeholder {
  color: var(--color-text);
}

.sendButton {
  background-color: var(--color-background);
  border-radius: 50%;
  height: 36px;
  width:36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}



.charCounter {
  font-size: 12px;
  color: var(--color-text-secondary); /*TODO cambiare con variabile*/
  margin-left: 8px;  
}
