@import "colors.css";


/* layout principale flex per dividere la pagina in due colonne */
.loginPage {
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

/* sezione sinistra con l'immagine */
.loginImage {
    flex: 0 0 50%;
    width: 50%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

/* sezione destra con la LoginWindow */
.loginSection {
    flex: 0 0 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-background);
}



/* responsive su tablet e mobile */
@media (max-width: 968px) {
    .loginPage {
        background: var(--color-background);
    }

    .loginImage {
        display: none;
    }

    .loginSection {
        flex: 1;
        width: 100vw;
        min-height: 100vh;
    }
}