.mainWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 450px;
    min-height: 70%;
    padding: 3rem 2rem;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    color: #000000;
    font-family: "Poppins", sans-serif;
}

/*container scritta Trento Cicerone */
.titoloApp {
    text-align: center;
    margin-bottom: 2rem;

}

/*scritta "Trento"*/
.titoloAppText1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.1;
    color: #000000;
}

/*scritta "Cicerone"*/
.titoloAppText2 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    line-height: 1.1;
    color: #000000;
}

/* testo sopra il bottone di login */
.loginText {
    font-size: 1.2rem;
    margin: 1.5rem 0;
    color: #000000;
    font-weight: 300;
}



form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

input {
    width: 100%;
    height: 40px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #000000;
}
.registerButtonWrapper {
    width: 100%;
}

.registerButton {
    background-color: var(--color-primary);
    width: 100%;
    border-radius: 30px;
    color: white;
    margin-bottom: 1rem;
}

.linkToLogin {
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.linkToLogin:hover {
    color: var(--color-text-secondary);
}

/* parte responsive - riduce le dimensioni della card su mobile */
@media (max-width: 600px) {
    .mainWrapper {
        width: 90%;
        padding: 2rem 1.5rem;
    }

    .titoloAppText1 {
        font-size: 2rem;
    }

    .titoloAppText2 {
        font-size: 1.6rem;
    }

    .loginText {
        font-size: 1rem;
    }
}
